<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.convertwebsiteintoapk">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher_gclub8"
        android:roundIcon="@mipmap/ic_launcher_gclub8_round"
        android:label="@string/app_name"
        android:theme="@style/SplashTheme">
<!--   android:theme="@style/Theme.ConvertWebsiteIntoAPK"     -->
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:screenOrientation="portrait" />

        <!--            android:screenOrientation="landscape" -->
        <!--            android:screenOrientation="portrait" -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>